
<div class="sixteen columns">
<h1>Welcome to Dumbler!</h1>
<br>
<hr>
<br>
<br>
</div>
<div class="eight columns">
	<h3>Top Blogs:</h3>
	<br>
	<br>
	<% @users.each do |user| %>
		<h4><a href="/users/profile/<%= user.id %>" style="text-decoration: none; color: #084B8A"><%= user.title %></a></h4>
		<br>
	<% end %>
	<br>
</div>


<div class="eight columns">
	<h3>Top Tags:</h3>
	<br>
	<br>
	<% @tags.each do |tag| %>
		<a href="/tags/<%= tag.id %>" style="text-decoration: none; color: #084B8A; font-size: 18px"><i>#<%= tag.name %>&nbsp;&nbsp;</i></a>
	<% end %>
	<br>
</div>







