
<h1>Welcome to the Best Blog Ever (BBE)!</h1>

<br>
<% @pages.reverse_each do |page| %>
	<h4><%= page.header %></h4>
	<p><%= page.article %></p>
	<p><i>tag: <%= page.tag %></i></p>
	<p style="font-size: 0.7em"><i>Updated: <%= page.updated_at %></i></p>
	<p>---------------------------</p>
<% end %>