<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dumbler</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/scripts.js'></script>
</head>
<body>
  <div class="container">
    <div class="sixteen columns">
      <% if current_user %>
        <%= erb :"partials/_user_navigation" %>
      <% else %>
        <%= erb :"partials/_non_user_navigation" %>
      <% end %>
      <hr>
      <br>
    </div>
    <%= yield %>
  </div>
</body>
</html>
