<h3>Edit Entry</h3>

<form action="/entries/edit/<%= @entry.id %>" method="post">
	<input type="text" name="page[header]" value="<%= @entry.header %>">
	<input type="text" name="page[article]" value="<%= @entry.article %>">
  <input type="submit" value="Edit Entry">
</form>