<h3>Add New Entry</h3>

<form action="/entries/new" method="post">
	<input type="text" name="page[header]" placeholder="header">
	<input type="text" name="page[article]" placeholder="article">
	<input type="text" name="tag" placeholder="tags (separated by spaces)">
  <input type="submit" value="Add Entry">
</form>
