<h2>Add New Entry</h2>

<form action="/new_entry" method="post">
	<input type="text" name="header" placeholder="header">
	<input type="text" name="article" placeholder="article">
	<input type="text" name="tag" placeholder="tag">
  <input type="submit" value="Add Entry">
</form>
