<h3>Log in</h3>
<br>

<form action="/sessions" method="post">
  <input type="text" name="username" placeholder = '...username'>
  <input type="password" name="password" placeholder = '...password'>
  <br>
  <input type="submit" value="Log-In">
</form>
